@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add New Machinery</h1>
@using (Html.BeginForm())
{
  @Html.Label("Machine Name: ")
  @Html.TextBoxFor(model => model.Name)

  @Html.Label("Machine Warnings: ")
  @Html.TextBoxFor(model => model.Warning)

  @Html.Label("Select Engineers")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Create" />
}
<button><a href="/">Home</a></button>