@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Machine Details</h1>
<h2>@Html.DisplayFor(model => model.Name)</h2>
<h4>Warning: @Html.DisplayFor(model => model.Warning)</h4>

<h4>Engineer List: </h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>0 Certified engineers</p>
}
else
{
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Engineer.Name</li>

    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
  <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>
  <button><a href="/">Home</a></button>