@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h1>Engineer Details</h1>
<h2>@Html.DisplayFor(model => model.Name)</h2>
<h4>Education: @Html.DisplayFor(model => model.Education)</h4>

<h4>Machinery List: </h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>0 Machinery for repair</p>
}
else
{
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>

    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<button><a href="/engineers/edit">Edit</a></button>
<button><a href="/">Home</a></button>