@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Edit @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Education)
  @Html.EditorFor(model => model.Education)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" />
}
<button><a href="/">Home</a></button>
